body{
    background-color: bisque;
}
.themiddle{
    background-color: aqua;
}
.firstrow{
    background-color: blue;
}
.secondrow{
    background-color: brown;
}
.thirdrow{
    background-color: blueviolet;
}